.sports {
  width: 100vw;
  height: 90vh;
  h1 {
    height: 10%;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    line-height: 100%;
    margin-top: 20px;
    color: #404654;
    text-align: center;
  }
  .card_list {
    height: 90%;
    width: 100vw;
    //   background-color:red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .card {
    position: relative;
    height: 80%;
    width: 24%;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgb(192, 192, 192);
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }

    h2 {
      text-align: center;
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 72px;
      color: #ffffff;
      text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.52);
    }
    h3 {
      text-align: center;
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 96px;
      //   line-height: 144px;
      /* identical to box height */

      color: #ffffff;

      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    h4 {
      text-align: center;
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 33px;
      /* identical to box height */
      color: #ffffff;
      text-shadow: 0px 4px 7px #000000;
    }
    .cen{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    button {
      background: #adff00;
      border-radius: 9px;
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 33px;
      /* identical to box height */
      box-shadow: 5px 5px 10px rgb(82, 82, 82);
      padding: 10px 40px;
      color: #3c5507;
      margin: 0 auto;
      margin-top: 50px;

      &:hover {
           background: #8fd100;
           cursor: pointer;
      }
    }
  }
}
